---
layout: default
title: Promotions
resource: false
group: 6
meta-desc: Promotions du mois de l'institut de beauté
---

<h4>Venez profiter des promotions du moment.</h4>

{% for section in site.data.promo %}
  <div class="ido-price-title">
    <h3>{{section.title}}{% if section.price %} - {{ section.price }} {% endif %}{% if section.old-price %} au lieu de {{ section.old-price }} {% endif %}</h3>
  </div>
  <ul class="list-group">

    {% if section.prestations %}
      {% assign prestations= section.prestations %}
      {% for prestation in prestations %}
      <li class="list-group-item">
        {% if prestation.price %}
        <span class="badge">
          {% if prestation.old-price %}
            <strike style="padding-right:10px;">{{ prestation.old-price }}</strike>
          {% endif %}
          {{ prestation.price }}
        </span>
        {% endif %}
        {{ prestation.name }}
      </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endfor %}
