---
layout: default
title: Tarifs Soins du visage
resource: true
group: 4
meta-desc: Tarifs des soins du visage de l'institut
---
<div class="text-center">
<h3 style="margin-bottom:20px">L'institut des ongles vous propose les soins du visage Maria Galland. </h3>
<img class="img-responsive" alt="Soins du visage Maria Galland" style="display: inline;margin-bottom:20px;" src="{{ site.baseurl }}/public/img/maria/cocon-massage.jpg" >
</div>

{% for section in site.data.price-face %}
  <div class="ido-price-title">
    <h3>{{section.title}}</h3>
  </div>
  <ul class="list-group">

    {% if section.prestations %}
      {% assign prestations = section.prestations %}
      {% if section.description %}
        <!-- Prestations with description-->
        <li class="list-group-item">
          {{ section.description }}
          {% for prestation in prestations %}
          <div style="margin-top:5px;">
             {{ prestation.name }}
             <div style="clear: both;float:right;" class="badge">{{ prestation.price }}</div>
          </div>
          {% endfor %}
        </li>
      {% else %}
          <!-- Prestations -->
        {% for prestation in prestations %}
          <li class="list-group-item"><span class="badge">{{ prestation.price }}</span>{{ prestation.name }}</li>
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if section.sales %}
      <!-- Sales -->
      <li class="list-group-item">{{ section.sales }}</li>
    {% endif %}
  </ul>
{% endfor %}
