---
layout: default
title: Tarifs Epilations
resource: true
group: 5
meta-desc: Tarifs en épilations à la cire, au caramel et au fil.
---
<div class="text-center">
  <h3 style="margin-bottom:20px">Nous pratiquons les épilations à la <span class="cido-epil-type">Cire</span>, au <span class="cido-epil-type">Caramel</span> et au <span class="cido-epil-type">Fil</span>.</h3>
</div>

{% for section in site.data.price-epilation %}
  <div class="ido-price-title">
    <h3>{{section.title}}</h3>
  </div>
  <ul class="list-group">

    {% if section.prestations %}
      {% assign prestations= section.prestations %}
      {% for prestation in prestations %}
      <li class="list-group-item">
        <span class="badge">
          {% if prestation.old-price %}<strike style="padding-right:10px;">{{ prestation.old-price }}</strike>{% endif %}
          {{ prestation.price }}
        </span>
        {{ prestation.name }}
        {% if prestation.desc %}<div>{{ prestation.desc }}</div>{% endif %}
      </li>
      {% endfor %}
    {% endif %}

    {% if section.sales %}
      <li class="list-group-item">{{ section.sales }}</li>
    {% endif %}
  </ul>
{% endfor %}
