---
---

$bgColor: #242424;
$darkRedColor:#441E20;
$lightRedColor:#7A3639;
$lightGrey:#8B8B8B;
$white:#FFFFFF;

html, body {
    padding:0; margin:0;
    height: 100%;
    font-size:14px;
}
body {
  background: #eee url('../img/header_outer.jpg') repeat-x ;
  color: #848484;
  height: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.leftMargin{
  margin-left:20px;  
}
.leftMarginSmall{
  margin-left:5px;  
}
.rightMarginSmall{
  margin-right:5px;  
}

/** Links */
a:link, a:visited
{
  color:#FFF;
}

a:hover, a:active, a:focus
{
  background:#441E20;
  color:#FFF;
}

/** Header */
.ido-header {
    display: block;
    background-color: $bgColor;
    position: fixed;
    top:0;
    z-index:2;
}

.logoheader {
    border-top: 5px solid #441E20;
    color: #441E20;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    text-align: left;
    z-index: 2;
}

/** Menu */
.menu {
    float:right;
    right: 10px;
    top: 0px;
    position: absolute;
    list-style-type: none;
    margin-top: 4px !important;
}

.menu li{
 display: inline-block;
 border-right: 1px solid #FFFFFF;
 text-transform: uppercase;
 font-weight:bold;
 font-size:0.9em;
}

.menu li a{
  color:#9F9F9F; 
  line-height: 40px;
  padding: 10px;
}

.menu li.selected{
  background: #441E20;
}

.menu li.selected a{
  color:#FFFFFF;
}

.menu li a:focus, .menu li a:hover, .menu li a:active
{
  background: #DDDDDD;
  color:#441E20;
}

/** Container */

.ido-container {
    background: $bgColor;
    min-height: 95%;
    margin-left: auto;
    margin-right: auto;
}

.ido-content-area {
  padding:140px 20px 60px 20px;
}

/** Footer */
.ido-footer {
    bottom: 0;
    position: fixed;
    padding: 10px;
    width: 100%;
    background: #441E20;
    text-align: center;
    color:FFFFFF;
}

/** Acceuil*/
.ido-accueil-logo-container{
  float:left;
}

.ido-accueil-s1 {
  color: $lightRedColor;
}
.ido-accueil-desc p {
  padding:0px 10px 10px 10px;
  font-style:italic;
  font-size: 17px;
}
.ido-accueil-logo{
  width:600px;
  height:600px;
  display:inline-block;
  vertical-align:middle;
}

/** Tarifs **/
.ido-price-title{
  display: table; height: 40px; 
  overflow: hidden;
  background: url('../img/orchidee_small.png') no-repeat;
  padding-left: 40px;
  background-size: 35px Auto;
}

.ido-price-title h3{
  display: table-cell; vertical-align: middle;
  color:$lightRedColor;
}

.ido-price{
  float:right;
}

/** Contacts **/
.ido-contact-details{
  float:left;
  width:45%;
}
.ido-contact-map{
  float:left;
  width:55%;
}  

#map-canvas{
  width:100%;
  height:520px;
}

/** Facebook, google plus, twitter */
ul.like-buttons{
  display:inline;
  list-style: none;
 }
ul.like-buttons li{
    display: inline;
    margin:0 0 0 5px ;
}
ul.like-buttons img{
  height:25px;
}

/** Bootstrap */
.list-group-item {
  background-color:$lightGrey;
  border:1px solid $white;
  color:$white;
}

/** Media */
@media (max-width: 1024px) {
  body{
    font-size:14px;
  }
  .menu{
    float:none;
  }
  .menu li{
    height: 30px;
  }
  .menu li a{
    line-height: 20px;
    padding:5px;
  }
  .menu li:last-child{
   border-right: 0px;
  }
  h3{
    font-size:18px;
  }
  .ido-content-area {
    padding:40px 20px 60px 20px;
  }
  .ido-footer {
    bottom: 0;
    position: fixed;
  }
  .hideOnMobile, .logo{
    display: none;
  }
  .menu{
    position: relative;
  }
  .ido-header, .menu, .ido-footer, .ido-container {
    width: 100%;
  }
  .ido-header{
    text-align: center;
  }
  .ido-container{
    padding: 0;
  }
  .logo-header{
    display:none;
  }
  /** Accueil **/
  .ido-accueil-logo{
    width: 60%;
   }
}

@media (max-width: 600px) {
  body{
    font-size:12px;
  }
  .list-group-item{
    height:45px;
  }
  .leftMargin{
    margin-left:10px;  
  }
  .leftMarginSmall{
    margin-left:2px;  
  }
  .rightMarginSmall{
    margin-right:2px;  
  }
  .ido-header, .ido-footer{
    position:relative;
  }
  .ido-content-area {
    padding:10px 15px 15px 10px;
  }
  .menu li a{
    line-height: 16px;
  }
  h3{
    font-size:12px;
  }
  .ido-contact-details, .ido-contact-map{
    float:none;
    width:100%;
  }
  .ido-contact-map{
    margin-top:10px;
  }
}

@media (max-width: 400px) {

}

@media (min-width: 1024px) {
  .logoheader, .ido-footer, .ido-container {
    width: 1024px;
  }
}