<footer class="ido-footer">
<div style="vertical-align:middle; display: inline-flex;">
	<span>
		<img src="{{site.baseurl}}/public/img/ico-map.png" height="15" class="rightMarginSmall"/>
		<a href="{{site.baseurl}}/contact" class="leftMarginSmall">7 ter chemin du tricou 31670 Lab&egrave;ge</a>
		<img src="{{site.baseurl}}/public/img/ico-tel.png" height="15" class="leftMarginSmall"/>
		<a href="tel:+33671649393" class="leftMarginSmall">06 71 64 93 93</a>
		<img src="{{site.baseurl}}/public/img/ico-mail.png" height="15" class="leftMarginSmall"/>
		<a href="mailto:institutdesongles31@gmail.com" class="leftMarginSmall">institutdesongles31@gmail.com</a> <!--- Siret : 54004650500017-->
	</span>
	{% include like-buttons.html %}
</div>
</footer>