<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="{{ site.author.name }}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/bootstrap.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/ido.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/img/favicon.ico">

  <title>{{ site.title }} </title>

  <!-- jQuery -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
  

  <!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NK25BG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NK25BG');</script>
  <!-- End Google Tag Manager -->
  
  <!-- Header conditionnal includes -->
  {% include header_includes.js %}  

  <!--Google analytics 
  <script type="text/javascript" src="http://stats.g.doubleclick.net/dc.js"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28919413-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>-->
  <!--Fin Google analytics -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
