<header>

	<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button data-target="#navbar-collapse-menu" data-toggle="collapse" class="navbar-toggle" type="button" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="logoheader navbar-brand">
            <img class="logo" alt="{{site.altlogo}}" src="{{ site.baseurl }}/public/img/logo/logo-ido.png">
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar-collapse-menu" class="collapse navbar-collapse">
    	<!-- Menu -->	
    	<ul class="nav navbar-nav navbar-right">
			{% assign sorted_pages = site.pages %}
			{% for group in (1..10) %}
				{% for node in sorted_pages  %}
		      		{% if group == node.group %}
		      			{% if node.resource == true %}
			      			{% if node.title == page.title %}
								<li class="active nav-item">
							{% else %}
								<li class="nav-item">
							{% endif %}
							<a href="{{site.baseurl}}{{ node.url }}">{{node.title}}</a>
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul><!--//nav-->	
	</div>	
</header>