{{ define "main" }} 
  <!-- Event snippet for Page rdv conversion page -->
  <script>
    gtag('event', 'conversion', {
        'send_to': 'AW-949269054/WycTCIKjwwMQvuTSxAM',
        'value': 1.0,
        'currency': 'EUR'
    });
  </script>
<section class="home is-fullheight is-default">
  <div class="home-body">
  <iframe class="rdv-frame" frameborder="no" scrolling="auto" id="rdv"
    title="Réservation en ligne"
    src="https://www.planity.com/institut-des-ongles-et-beaute-31000-toulouse">
</iframe>
</div>
</section>


{{ end }}
 