{{- $home       := .Site.Params.home }}
{{- $tiles    := index $home "section1-tiles" }}
<section class="home is-fullheight is-default is-bold">
    <div class="home-body">
      <div class="home-logo">
        <img class="full-width" src="{{ "/images/home/home-sec-1.jpg" | relURL }}" />
      </div>
      <div class="container-full-width-abs">
        <div class="home-logo-container">
          <div class="home-sublogo-container">
            <img class="home-logo-img" src="{{ "/images/logos/ido-logo-black.svg" | relURL }}"/>
          </div>
        </div>
        
      </div>
      <div class="container-large home-section-1">
        
        <!--description-->
        <div class="title-wrapper has-text-centered">
          <h3 class="subtitle is-5 is-muted spaced">
            L'Institut des Ongles <span class="is-pink is-italic">&amp; beauté</span> à Toulouse est spécialisé dans les soins
            de l'ongle en gel UV, des épilations à la cire, au caramel et au fil
            ainsi que des soins du visage et du corps <span class="is-pink">Maria Galland</span>.
          </br>
          </br>
          Nous privilégions...
          </h3>
          
          <div class="divider is-centered"></div>
        </div>
        
      <!-- qualités-->
        <div class="container">
            <div class="content-wrapper">
                <div class="columns">
                  {{- range $tiles }}
                  <div class="column is-one-third">
                    <div class="feature-card is-bordered has-text-centered" data-animation="fadeInLeft">
                      <div class="card-icon">
                          <img src="{{ printf "/images/%s.svg" .icon | relURL }}">
                      </div>
                      <div class="card-text">
                          <h4 class="is-white">{{ .title }}</h4>
                        </div>
                    </div>
                  </div>
                  {{- end }}
                </div>
              </div>
          </div>
      </div>
    </div>
</section>


<!-- Maria Galland-->
<section class="home-maria is-fullheight is-default is-bold">
    <div class="container">
      <div class="title-wrapper has-text-centered">
          <h1 class="title is-2 is-pink is-uppercase">Maria Galland</h1>
        <div class="divider is-centered"></div>
      </div>  
      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-half home-colum-expand">
              Par soucis de professionnalisme, nous ne travaillons
              qu'avec des produits haut de gamme. Principalement des
              produits de la marque Maria Galland, notamment pour
              nos soins du visage et nos soins du corps.
              <div class="is-align-right" >
                <a href="https://www.maria-galland.fr" class="button btn-align-md accent-btn raised">Maria Galand</a>
              </div>
          </div>
          <div class="column is-half">
              <img src="/images/home/home-sec-2.jpg" />
          </div>
        </div>
      </div>
    </div>
</section>    

<!-- Notre institut-->
<section class="home-maria is-fullheight is-default is-bold">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h1 class="title is-2 is-pink is-uppercase">Notre Institut</h1>
        <div class="divider is-centered"></div>
      </div>  
      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-half has-text-centered">
            <img src="/images/home/home-insitut.jpg" />
          </div>
          <div class="column is-half home-colum-expand">
              Désormais nous sommes situés en centre-ville de
              Toulouse. Nous vous accueillons dans notre nouvel
              institut, un lieu calme et convivial.
              Sur rendez-vous au 16 rue de la colombette, Toulouse.
              <div class="is-align-right" >
              <a href="/contact" class="button btn-align-md accent-btn raised">Contact</a>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>
