<section class="home is-fullheight is-default">
    <div class="home-body">
        <div class="home-logo">
            <img class="full-width" src="{{ .imgheader }}" />
        </div>
        
        <div class="container-full-width-abs">
            <div class="home-logo-container">
                <div class="home-sublogo-container">
                    <div class="left-content extra-space">
                      <h2 class="home-title is-pink is-uppercase">{{ .title1 }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-large home-section-1-1">
        <!-- qualités-->
        <div class="container">
            {{range $index, $element := .sec1prices }} 
            {{ if (eq (mod $index 3) 0) }}
            <div class="content-wrapper-s">
                <div class="columns">
            {{ end }}
                    {{ if .title }}

                    {{ if .description }}
                    <div id="modal-prices-1-{{ $index}}" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                            <p class="modal-card-title">{{ .title }} - {{ .price }} €</p>
                            <button class="delete modal-hide" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                {{ .description | markdownify }}
                            </section>
                            <footer class="modal-card-foot">

                            </footer>
                        </div>
                    </div>
                    {{ end }}

                    <div class="column is-one-third" >
                        <div class="ido-card has-text-centered delay-1 {{ .style }} modal-toggle" data-target="modal-prices-1-{{ $index}}">
                            <div class="card-text">
                                <h4 class="subtitle is-5">{{ .title }}</h4>
                                <div class="divider is-centered has-space"></div>
                                <h4 class="is-white subtitle is-7">
                                {{ .shortdescription }}
                                </h4>
                                <div class="divider is-centered has-space"></div>
                                <h4 class="is-white subtitle is-6">
                                    <span>{{ .duration }} &nbsp;<i class="far fa-clock"></i></span>
                                    <span>&nbsp;&nbsp;&nbsp;</span>
                                    <span>{{ .price }} &nbsp;<i class="fas fa-euro-sign"></i></span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    
                    {{ else }}
                    <div class="column is-one-third is-hidden-mobile"></div>
                    {{ end }}
            {{ if (eq (mod (add $index 1) 3) 0) }}
                </div>
            </div>
            {{ end }} 
            {{- end }}
        </div>
    </div>
</section>

<!-- Notre institut-->
<section class="home-maria is-fullheight">
    <div class="container has-bottom-space">
        <div class="title-wrapper has-text-centered">
            <h1 class="title is-2 is-pink is-uppercase">{{ .title2 }}</h1>
            <div class="divider is-centered"></div>
        </div>  
        {{if .subtitle2 }}
            <div class="ido-content has-text-centered">
                {{ .subtitle2 }}
            </div>
        {{ end }}
        {{if .sec2prices }}
            {{range $index, $element := .sec2prices }} 
                {{ if (eq (mod $index 2) 0) }}
                <div class=".content-wrapper-ss">
                    <div class="columns">
                {{ end }}  
                        <div class="column is-half has-text-centered">
                            <div class="ido-box">
                                <span class="subtitle" style="padding-right:3rem">{{ .title }}</span>
                                <div style="display: inline-flex;">
                                    <span class="subtitle is-silver is-6" style="padding-right:1rem">{{ .duration }} &nbsp;<i class="far fa-clock"></i></span>
                                    <span class="subtitle is-pink is-6">{{ .price }} &nbsp;<i class="fas fa-euro-sign"></i></span>
                                </div>
                            </div>
                            <div class="divider is-full is-thin"></div>
                        </div>
                        
                {{ if (eq (mod (add $index 1) 2) 0) }}
                    </div>
                </div>    
                {{ end }}  
            {{ end }} 
        {{ end }} 
    </div>
</section>