<section class="home is-fullheight is-default">
    <div class="home-body">
      <div class="home-logo">
        <img class="full-width" src="../images/corps/corps-1.jpg" />
      </div>
      <div class="container-full-width">
        <div class="home-logo-container">
          <div class="epil-logo-container">
            
            <div class="price-box is-center card-white">
              <div class="columns">
                <div class="column is-two-thirds">
                  <h2 class="price-title has-left-padding is-pink is-uppercase">{{ .title1 }}</h2>
                  {{range $index, $element := .sec1prices }}
                  {{ if .title }}
                  <div class="prices">
                    <span class="name">{{ .title }}
                      {{ if or (.subtitle) (.duration) }} 
                        (
                          {{ if .subtitle }}{{ .subtitle }}{{ end }}{{ if .duration }}{{ if .subtitle }}.{{ end }} {{.duration }}{{ end }}
                        )
                      {{ end }}
                    </span><span class="separator"></span>
                    <span class="price is-pink">{{ .price }}€</span>
                  </div>
                  {{ if .description }}
                    <div class="price-subtitle">{{ .description }}</div>
                  {{ end }}
                  {{ end }}
                  {{ end }}
                </div>
                <div class="column is-one-third is-hidden-mobile">
                    <img class="full-width price-picture" src="../images/corps/corps-2.jpg" />
                </div>
              </div>
            </div>
            <div class="price-box is-center card-white">
              <div class="columns">
                  
                <div class="column is-two-thirds">
                  <h2 class="price-title has-left-padding is-brown is-uppercase">{{ .title2 }}</h2>
                  {{range $index, $element := .sec2prices }}
                  <div class="prices">
                    <span class="name">{{ .title }}</span>
                    <span class="separator"></span>
                    <span class="price is-brown">{{ .price }}€</span>
                  </div>
                  {{ if .subtitle }} 
                    <div class="price-subtitle">{{ .subtitle }}</div>
                  {{ end }}
                  {{ end }}
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>