<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>
	    <div class="ido-container">
        {% include menu.html %}

        <div class="ido-content-area">
          
              {% if site.promo != null and site.promo == true %}
              <h3 style="text-align:center;padding-bottom:20px;"><a style="color: rgb(239, 5, 159);" href="/promo.html">Profitez des promotions du moment!!</a></h3>
              {% endif %}
          
          {{ content }}
        </div>

        {% include footer.html %}
      </div>
    {% include body_includes.html %}
  </body>

</html>
